# Archivos de build
build/
target/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Sistema operativo
.DS_Store
Thumbs.db

# Git
.git/
.gitignore
.gitattributes

# Documentación
*.md
HELP.md

# Logs
*.log

# Archivos temporales
*.tmp
*.bak
*.swp
*~
